@tailwind base;
@tailwind components;
@tailwind utilities;

th::before,
td::before {
	--tw-bg-opacity: 1;
	background-color: rgb(199 223 244/var(--tw-bg-opacity));
}

.table-heading {
	--tw-text-opacity: 1;
	color: rgb(0 84 166/var(--tw-text-opacity));
}
